@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Russo+One&family=Stick+No+Bills:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
}
#R{
    width: 20em;
    height: max-content;
}
#RS{
    width: 60em;
    height: 35em;
    display: flex;
}

span{
    margin: 10%;
}
.izquierdaR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: #264582;
    border-radius: 20px 0 0 20px;
    
}
.izquierdaR h1 {
    color: white;
    border-bottom: 2px solid #fff;
    position:relative;
}
.izquierdaR span
{
    padding-top: 5em;
    color: white;
}
.izquierdaR h1{
    font-family: 100xp;
}
.derechaR
{
    position: relative;
    width: 40%;   
    background-color: #fff;
    border-radius: 0 20px 20px 0;
}
.derechaR .Iniciar-SesionR
{
    width: 100%;
    padding: 40px;
    color:#264582
}
.Iniciar-SesionR h2
{
    font-size: 2em;
    text-align: center;

}

.loginR 
{
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #264582;
    margin: 30px 0;
}
.loginR label
{
    position:absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#264582;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.loginR input:focus~label,
.loginR input:valid~label
{
    top: -10px;
}
.loginR input
{width: 100%;
    height: 100%;
    background: #ffffff;
    border: none;
    outline: none;
    font-size: 1em;
    color: #264582;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.recordarContraR
{
    font-size: .9em;
    color: #264582;
    font-weight: 500;
    margin: -15px 0 30px;
    display: flex;
    justify-content: space-between;
}
.recordarContraR label input
{
    color: #264582;
    margin-right: 3px;
}
.recordarContraR a
{
    color: #264582;
    text-decoration: none;
}
.recordarContraR a:hover
{
    text-decoration: underline;
}
.loginR .iconosR
{
    
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #264582;
    line-height: 65px;  
}
.btnR
{
    width: 100%;
    height: 45px;
    background: #264582;
    border: none;   
    outline: none; 
    border-radius: 6px;
    cursor:pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-registroR
{
    font-size: .9em;
    color:#264582;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-registroR p a
{
    color:#264582;
    text-decoration: none;
    font-weight: 600;
}
.login-registroR p a:hover
{
    text-decoration: underline;
}
#menuR{
    margin-bottom: 10%;
    padding-left: 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #264582;
    height: 50px;
    font-size: 1.1em;
    color: #264582;
}
#menuR option :hover{
    ackground: #264582;
    color: #fff;}