@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Russo+One&family=Stick+No+Bills:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 600px;
    max-height: 100%;
    margin: 90px;
    padding: 10px;    
    border-radius: 10px;
    background-color: #fff;
}
#carta2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 70px;
    width: 80%;
    background-color: aliceblue;
    
}
#carta2 h6{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    line-clamp: 2;
    overflow: hidden;
    color: #264582;
    max-width: 200px;
    white-space: nowrap;
    font-size: small;
    text-overflow: inherit;
}
#carta2 a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    line-clamp: 2;
    overflow: hidden;
    color: #264582;
    max-width: 200px;
    white-space: nowrap;
    font-size: medium;
    text-overflow: inherit;
}
#aprobar{
    background-color: rgb(119, 252, 93);
    border: #fff;
    width: 100px;
    height: 35px;
    font-size: large;
    border-radius: 10px;
}
#aprobar:hover{
    background-color: hsl(110, 100%, 40%);
}
#denegar{
    background-color: rgb(255, 102, 63);
    border: #fff;
    width: 100px;
    height: 35px;
    font-size: large;
    border-radius: 10px;
}
#denegar:hover{
    background-color: hsl(12, 100%, 40%);
}