@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Russo+One&family=Stick+No+Bills:wght@200&display=swap');

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    min-height: 600px;
    max-height: 100%;
    margin: 30px;
    margin-top: 8%;
    padding-top: 30px;
    padding-bottom: 30px;   
    border-radius: 10px;
    background-color: #fff;
}

.contenido h2{
    margin-bottom: 20px;
}


#carta {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 70px;
    width: 80%;
    background-color: aliceblue;
    
}
#carta img{
    height: 50px;
    width: 50px;
    margin: 5px;

}
#carta h6{
    color: #264582;
    font-size: larger;
}